{%- comment -%}
  One publication on the CV page: title, authors (own name in bold), venue and year, link row.
{%- endcomment -%}
{%- include base_path -%}
{%- assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" | strip -%}
{%- assign authors = post.authors | replace: "A. Patankar", "<strong>A. Patankar</strong>" -%}
<li class="pub pub--cv"><a href="{{ base_path }}{{ post.url }}" rel="permalink" class="pub__title">{{ title }}</a><br>{% if post.authors %}{{ authors }}.<br>{% endif %}<i>{{ post.venue }}</i>{% if post.location %}, {{ post.location }}{% endif %}, {{ post.date | date: "%Y" }}.<br>{% include pub-links.html pub=post %}</li>
